<!DOCTYPE html>
{% block main_content %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Welcome{% endblock %}</title>
</head>
<body style="background-color:darkorange;color:black;">
<script>
    var seconds_left = 30;
    var interval = setInterval(function() {
        document.getElementById('main_page').innerHTML = --seconds_left+' Seconds left to start your session !';

        if (seconds_left <= 0)
        {
            document.getElementById('main_page').innerHTML = 'You are ready to start the Quiz !';
            clearInterval(interval);
        }
    }, 1000);

</script>
  <header>
    <h1></h1>
	<div>
</div>
    {% if user.is_authenticated %}
     <div align="center" style="font-size:50pt;font-family:arial"> Welcome {{ user.username }} !!</div><br>
      <pre class="tab">



      </pre>


     <hr><div style="font-size:25pt;float:left;"> <a href="{% url 'logout' %}">Click to Logout</a></div>
      <br><div style="font-size:25pt;float:right;"> <a href="{% url 'main_page' %}" id="main_page" class="button"> Click to start your Quiz Session </a></div>
    {% endif %}
  </header>

  <main>
    {% block content %}
    {% endblock %}
	<div class="basic">
</div>
  </main>
</body>
{% endblock %}
</html>