<html>
<head>
   <title>Login</title>
</head>
<h1 class='h1' style="font-size:50pt;color:black"align="center">User Login Page<hr><hr></h1>
<body class='body' style="background-color:darkorange" >

{% block content %}
<h2 style="color:white;font-size:30pt">Login as Student </h2>
  <form method="post" class='user_page' style="background-color:orange; float:center;">
    {% csrf_token %}
    {{ form.as_p }}
    <br><button type="submit" style="color:black;width:50pt;height:30pt;">Login</button>
  </form>
{% endblock %}
<br>
<br>
<hr>
<hr>
 <br><div style="font-size:25pt"> <a style="color:black; font-size:30;font-family:arial" href="{% url 'register' %}"> SignUp as Student </a></div><hr><hr>

<div style="font-size:25pt;font-color:white">
    <a style="color:black; font-size:30;font-family:arial" href="{%  url 'teacher_login' %}">Login as Teacher</a></div>


</body>
</html>